@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["About"];
}

<h1>Mam na imię Jan Kowalski</h1>
<h2>A to jest strona o mnie</h2>
