@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witajcie</h1>
    <p>Przeczytaj na temat <a href="https://docs.microsoft.com/aspnet/core">tworzenia aplikacji Web z użyciem ASP.NET Core</a>.</p>
</div>
