@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;

@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Privacy Policy"];
}
<h1>@ViewData["Title"]</h1>

<p>
    @SharedLocalizer["Privacy Policy Content"]
</p>
